[Desktop Entry]
Version=1.0
Name=@NCINE_APP_NAME@
Comment=@NCINE_APP_DESCRIPTION@
TryExec=@CPACK_EXECUTABLE_NAME@
Exec=@CPACK_EXECUTABLE_NAME@
Icon=@PACKAGE_NAME@
StartupWMClass=@CPACK_PACKAGE_STARTUPWMCLASS@
Terminal=false
Type=Application
Categories=Game;
Keywords=game;action;platformer;