name: 'Windows'

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
        - BuildType: Release
          Platform: x86
          ArchExts: SSE
          Backend: GLFW

        - BuildType: Release
          Platform: x64
          ArchExts: SSE2
          Backend: GLFW
          
        - BuildType: Release
          Platform: x64
          ArchExts: AVX2
          Backend: GLFW

        - BuildType: Release
          Platform: x86
          ArchExts: SSE
          Backend: SDL2

        - BuildType: Release
          Platform: x64
          ArchExts: SSE2
          Backend: SDL2
          
        - BuildType: Release
          Platform: x64
          ArchExts: AVX2
          Backend: SDL2

    runs-on: 'windows-latest'

    steps:
    - name: 'Checkout Code'
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        
    - name: 'Setup MSBuild'
      uses: microsoft/setup-msbuild@v1.1

    - name: 'Download Build Dependencies'
      run: |
        mkdir Libs
        cd Libs
        git clone https://github.com/deathkiller/jazz2-libraries.git .
        git checkout
        
        #Invoke-WebRequest -uri "https://github.com/Chuyu-Team/VC-LTL5/releases/download/v5.0.5/VC-LTL-5.0.5-Binary.7z" -Method "GET" -Outfile "VC-LTL-Binary.7z"
        Invoke-WebRequest -uri "https://github.com/Chuyu-Team/VC-LTL/releases/download/v4.1.3/VC-LTL-4.1.3-Binary-VS2019.7z" -Method "GET" -Outfile "VC-LTL-Binary.7z"
        7z x ".\VC-LTL-Binary.7z" -o"VC-LTL"
        
    - name: 'Configure CMake'
      run: |
        switch('${{ matrix.Platform }}') {
          'x86' { $arch = 'Win32' } 
          'x64' { $arch = 'x64' } 
        }

        cmake -B ".\_build\" -D CMAKE_BUILD_TYPE=${{ matrix.BuildType }} -A $arch -D CMAKE_SYSTEM_PROCESSOR=$arch -D NCINE_ARCH_EXTENSIONS=${{ matrix.ArchExts }} -D NCINE_PREFERRED_BACKEND=${{ matrix.Backend }} -D NCINE_VERSION_FROM_GIT=ON

    - name: 'Build'
      run: |
        switch('${{ matrix.Platform }}') {
          'x86' { $arch = 'Win32' } 
          'x64' { $arch = 'x64' } 
        }

        cd .\_build\
        msbuild ".\Jazz2.sln" -p:Configuration=${{ matrix.BuildType }} -p:Platform=$arch -p:OutDir=".\_out\"

    - name: 'Create Package'
      run: |
        mkdir _package
        Move-Item -Path ".\_build\_out\Jazz2.exe" -Destination ".\_package\Jazz2.exe"
        Move-Item -Path ".\Content\" -Destination ".\_package\Content\"
        
    - name: 'Upload Package'
      uses: actions/upload-artifact@v3
      with:
        name: Jazz2_Windows_${{ matrix.Platform }}_${{ matrix.ArchExts }}_${{ matrix.Backend }}
        path: ./_package/
        